<md-subheader class="md-primary" layout="row" hide-gt-md>
    <md-button ng-click="ctrl.toggleSideNav()" class="md-fab">></md-button>
</md-subheader>
<section layout="columns" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="assessment" md-is-locked-open="$media('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools" layout="row">
                <h3 flex>
                    Nav
                </h3>
                <md-button ng-click="ctrl.toggleSideNav()" hide-gt-md>
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <md-list>
                <md-item>
                    <md-item-content>
                        <md-button ui-sref="assessments.creation">
                            Creation
                        </md-button>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>

                        <md-button ui-sref="assessments.list">
                            List
                        </md-button>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <section ui-view="assessment" >

    </section>
</section>